
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** End of Reset *****/

/*- General -*/

* { box-sizing: border-box; }

body {
	font-family: "Kaushan Script", cursive;
	background: url('../img/background.jpg') repeat left top;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

em { font-style: italic; }
strong { font-weight: bold; }

#mainheader {
	padding: 15px 0;
	color: white;
	background-color: #0096cd;
	border-bottom: 9px solid white;
	overflow: hidden;
}

#main {
	width: 90%;
	margin: 0 auto;
	padding: 15px;
}

/*- Nav -*/

#mainheader nav { 
	font-size: 2em;
	list-style: none;
	text-shadow: 2px 2px 2px #18698e;
}

#mainheader nav li { float: left; }

#mainheader nav li:first-child { margin-left: 50px; }

#mainheader nav a {
	padding: 5px 25px 5px 25px;
	color: white;
	text-decoration: none;
}

#mainheader nav a:hover { background-color: #1f89ba; }

/*- Content -*/


/*************************/
/***** Media Queries *****/

@media screen and (max-width: 1024px) {
	#main{ color: pink; }
}

@media screen and (max-width: 768px) {
	#main{ color: orange; }
} 

@media screen and (max-width: 640px) {
	#main{ color: blue; }
}

@media screen and (max-width: 430px) {
	#mainheader {
		padding: 5px;
	}

	#mainheader nav { 
		width: 95%;
		margin: auto;
		font-size: 1.5em; 
	}

	#mainheader nav li {
		width: 100%;
		display: block;
		text-align: center;
	}

	#mainheader nav li:first-child { margin: 0; }

	#mainheader nav a { 
		display: block;
		padding: 10px 0;
	}
}

@media screen and (max-width: 320px) {
	#main{ color: red; }
}    